<table>
	<tr>
		<th>Username</th>
		<th>Comment</th>
		<th>Time</th>
	</tr>


	<tr *ngFor="let comment of (comments$ | async)">
		<td>{{(comment.author | async)?.username}}</td>
		<td>{{comment.content}}</td>
		<td>{{comment.created_at | date:"H:mm d. MMM"}}</td>
	</tr>
</table>
