<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
	<label for="form_input_comment">Comment</label>
	<input type="text" placeholder="Comment" id="form_input_comment" [formControl]="messageForm.controls.message">
	<br>
	<button type="submit">Submit</button>
</form>
