<nav>
	<a routerLink="/dashboard">Home</a>
	<a routerLink="/search">Search</a>
	<a routerLink="/login" *ngIf="!(authService.isLoggedIn$ | async)">Login</a>
	<a routerLink="/register" *ngIf="!(authService.isLoggedIn$ | async)">Register</a>
	<a routerLink="/user" *ngIf="(authService.isLoggedIn$ | async)">User account</a>
	<a routerLink="/post" *ngIf="(authService.isLoggedIn$ | async)">Post comment</a>
	<a routerLink="/report">Comment report</a>
</nav>
