<!--
  ~ Copyright (c) 2023 Niklas Dietzel <niklas@dietzel.no>. Licensed under the GNU General Public License v3.
  ~ See the LICENSE file in the repository root for full licence text.
  -->

<div class="center-container">
	<div class="raised-container">
		<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
			<div class="form-input">
				<label for="username-input">Username</label>
				<input type="text" id="username-input" [formControl]="loginForm.controls.username" placeholder="Username">
			</div>

			<div class="form-input">
				<label for="password-input">Password</label>
				<input type="password" id="password-input" [formControl]="loginForm.controls.password" placeholder="Password">
			</div>

			<button type="submit" [disabled]="!loginForm.valid">Log in</button>
		</form>

		<div class="new-account">Don't have an account? <a routerLink="/register">Register</a></div>
	</div>
</div>
