<div>
	<h2>Current user data:</h2>
	<div>{{(authService.onLogin$ | async) | json}}</div>
</div>

<h2>Edit data: </h2>
<form [formGroup]="editDataForm" (ngSubmit)="onSubmit()">
	<label for="form_username">Username</label>
	<input type="text" placeholder="Username" id="form_username" [formControl]="editDataForm.controls.username">
	<br>
	<label for="form_password">Password</label>
	<input type="password" placeholder="Password" id="form_password" [formControl]="editDataForm.controls.password">
	<br>
	<label for="form_email">E-mail</label>
	<input type="text" placeholder="E-mail" id="form_email" [formControl]="editDataForm.controls.email">
	<br>

	<button type="submit">Submit</button>
</form>


<button (click)="logOut()">Log out</button>
<button (click)="deleteUser()">Delete user</button>
