<form (ngSubmit)="onSubmit()">
	<input type="text" placeholder="Query" #queryInput>
	<button type="submit">Search</button>
</form>

<app-comment *ngFor="let comment of searchResults" [comment]="comment"></app-comment>

<div *ngIf="searchResults.length === 0 && hasSearched">
	No results.
</div>

