<!--
  ~ Copyright (c) 2023 Niklas Dietzel <niklas@dietzel.no>. Licensed under the GNU General Public License v3.
  ~ See the LICENSE file in the repository root for full licence text.
  -->

<div class="center-container">
	<div class="raised-container">
		<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
			<div class="form-input">
				<label>Username</label>
				<input type="text" [formControl]="registerForm.controls.username" placeholder="Username">
			</div>
			<div class="form-input">
				<label>Email</label>
				<input type="text" [formControl]="registerForm.controls.email"
					   placeholder="Email">
			</div>
			<div class="form-input">
				<label>Password</label>
				<input type="password" [formControl]="registerForm.controls.password" placeholder="Password">
			</div>
			<div class="form-input">
				<label>Verify password</label>
				<input type="password" [formControl]="registerForm.controls.passwordVerify"
					   placeholder="Verify password">
			</div>
			<button type="submit" [disabled]="!registerForm.valid">Register</button>
		</form>

		<div class="existing-account">Already have an account? <a routerLink="/">Log in</a></div>
	</div>
</div>
